header{
    font-size: xx-large;

}


body{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    font-size: 30px;
    background-color: rgb(43, 41, 41);
    color: white;
    width: 333px;
    height: 67px;
}

.numbers {
    display: grid;
    width: 250px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(67px, auto)
}

button.operator{
    height: 67px
}

.operators{
    display: flex;
    flex-direction: column;
    width: 83px;
    flex: 1;

    
}
button.operators{
    background-color: blue;
}
.actions{
    display: flex;
    height: 67px;
    width: 333px;
    
}
button#equals{
  
    width: 111px;
}
button#clear{
    width: 111px;
}
button#backspace{
    width: 111px;

}

.first{
    display: flex;
}

#zero{
    grid-column:1/span 2;
    
}

